
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    width:150px;
    height:30px;
    padding:5px 10px;
    background-color:transparent;
    }
          
nav li{
    display:inline-block;
    width:150px;
    height:30px;
    padding:5px 10px;
    border:1px solid rgb(0, 0, 0);
    text-align:center;
    color:rgb(0, 0, 0);
    text-decoration: rgb(8, 8, 8);
    position:relative;
    background-color: rgb(207, 155, 207);
}
          
nav li:hover{
    background-color:rgb(207, 155, 207);;
    color:#000;
    border:1px solid #000;   
    }
          
nav li>ul{
    display:none;
    border:1px solid #000;   
    }

nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;

}
header{     
    padding: 10px;
    background-color: rgb(207, 155, 207);
    text-align: center;
    text-decoration: #000;
    border:1px solid #000;   
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav form{
    text-align:center;
}
body {
    background-color: rgb(238, 198, 241);}
.card{
    border:1px solid rgb(0, 0, 0);
    text-align: center;
    
}

 
